.signin-form{
    width: 100%;
}

.custom-form-input{
    min-width: 400px;
}

@media screen and (max-width: 600px) {
    .custom-form-input{
        min-width: 100%;
    }
}

.google-img{
    width: 30px !important;
}