.signin-form{
    width: 100%;
}

.custom-form-input{
    min-width: 400px;
}

@media screen and (max-width: 600px) {
    .custom-form-input{
        min-width: 100%;
    }
}

.google-img{
    width: 30px !important;
}

/* styling themes menu */
.theme-menu-container {
    width: 100%;
    overflow-x: auto;
    
  }

.slide-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

.slider {
  width: 300px;
  height: 200px;
  overflow: hidden;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3498db;
  color: white;
  font-size: 1.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.theme-menu {
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
    margin-top: 20px;
    background-color: #8f8f8f;
    /* justify-content: center; */
  }
  
  .theme-card {
    flex: 0 0 auto;
    margin: 0 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-width: 150px;
    max-width: 250px;
    min-height: 80px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .theme-title {
    font-size: 20px;
    margin: 10px 0 0;
  }
  
  .theme-subtitle {
    font-size: 16px;
    margin: 15px 0 0;
  }
  
  .selected {
    background-color: black;
  }
  