.signin-form{
    width: 100%;
}

.custom-form-input{
    min-width: 400px;
}

@media screen and (max-width: 600px) {
    .custom-form-input{
        min-width: 100%;
    }
}

.google-img{
    width: 30px !important;
}

/* styling themes menu */
.theme-menu-container {
    width: 100%;
    overflow-x: auto;
  }

.slide-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

.slider {
  width: 300px;
  height: 200px;
  overflow: hidden;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3498db;
  color: white;
  font-size: 1.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.theme-menu {
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
    margin-top: 20px;
    /*background-color: #8f8f8f;*/
    border-radius: 23px;
    /*box-shadow: black 0px 0px 1px 0px;*/
     justify-content: space-between;
  }
  
  .theme-card {
    flex: 0 0 auto;
    margin: 0 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-width: 100px;
    max-width: 220px;
    min-height: 100px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .theme-title {
    font-size: 20px;
    margin: 10px 0 0;
  }
  
  .theme-subtitle {
    font-size: 16px;
    margin: 15px 0 0;
  }
  
  .selected {
    background-color: black;
  }

.text{
    font-size: 18px;
    color: #fa65b1;
    margin-top: 30px;
    font-weight: bold;
}


@keyframes pulse {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
}


.animate-pulse{

    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.button-get-started{
    width: 200px !important;
}

@media only screen and (max-width:500px) {

  .responsive-container{
    max-width: 300px;
  }
  
}

.hover-link{
    cursor: pointer;
}


.icon-effect{
  animation-name: icon-e;
  animation-duration: 2s;
  /* animation-delay: 2s; */
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes icon-e {
  from {transform: scale(0.9);}
  to {transform: scale(1.1);}
}